main {
    max-width: 80%;
}

main img {
    width: 150px;
    height: auto;
}

aside {
    width: 200px;
    height: auto;
    margin: 40px 40px;
    border: solid;
    padding: 5px;
    background-color: grey;
    color: blue;
    text-align: center;
}

aside img {
    width: 100%;
}

p {
    padding: 0;
}

footer {
    margin-top: 40vh;
    border-top: 2px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
}